:root {
  --theme-background: white;
  --theme-primary: #006ee9;
  --theme-primary-light: #abcef5;
  --theme-grey: #9a9a9a;
  --theme-paragraph: #474747;
  --theme-black: #000000;
  --theme-red: #cd2c2c;
  --theme-orange: #e97e00;
  --theme-yellow: #f1e701;
  --theme-green: #05e900;
  --theme-purple: #311f65;

  --theme-error: #d92c2c;
}
