@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../scss/utilities/mixins";

.register-success-wrapper {
  @include flex-center-column;

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.header {
  margin-top: 20%;
  text-align: center;

  @include media-breakpoint-up(md) {
    margin-top: 5%;
  }
}

.content {
  @include flex-center-column;
  margin-top: 3em;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
}

.image-container {
  margin: 2em 0;
}

.button-wrapper {
  margin-top: 2em;
  width: 100%;
}

.text {
  text-align: center;
  margin-top: 2em;
}

.button-primary {
  width: 100%;
}
