<div class="register-success-wrapper page-wrapper">
  <div class="header">
    <h1>TEAM RNCP</h1>
    <h4>Task Management App</h4>
  </div>

  <div class="content">
    <div class="label">
      <p>Verify account</p>
    </div>

    <div class="image-container">
      <img src="assets/images/two-people-mail.png" alt="Icon" />
    </div>

    <div class="text">
      <p>Your Account has been Verified Successfully!</p>
    </div>

    <div class="button-wrapper">
      <button class="button-primary" (click)="redirectToLogin()">
        Go to Login
      </button>
    </div>
  </div>
</div>
