@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../../scss/utilities/mixins";

.page-wrapper {
  height: 90vh;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-primary);
  margin: -1em;
  padding: 3em 1em;
  position: relative;

  @include media-breakpoint-up(md) {
    margin: -1em -4em;
  }

  h4 {
    margin: 0;
    text-align: center;
    flex: 1;
    color: white;
  }

  button {
    position: absolute;
    left: 1em;
  }
}

.form-wrapper {
  width: 50%;
}

.page-container {
  padding-top: 2em;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

:host ::ng-deep .input-description input {
  padding: 1em;
  box-sizing: border-box;
  overflow: auto;
}

.button-wrapper {
  button {
    width: 100%;
  }
}
